body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Fondo gris claro */
    color: #333; /* Color de texto oscuro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    background-color: #fff; /* Fondo blanco para el contenido */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrar contenido */
}

h1 {
    color: #51b1e9; /* Color verde para el título */
}

p {
    color: #b94916; /* Color ladrillo para versión */
}

ul {
    list-style-type: none; /* Eliminar puntos de la lista */
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

ul li:hover {
    background-color: #7fc72d; /* Fondo verde */
    color: #fff; /* Color de texto blanco */
}

.texto {
    font-size: 1.2em;
}

.header {
    position: relative; /* Asegura que la posición relativa sea relativa al div header */
    text-align: center; /* Centra el contenido del header */
}

.header img {
    display: block;
    margin: 0 auto; /* Centrar la imagen */
    width: 450px;
    height: 250px;
}

.date-time {
    position: absolute; /* Posición absoluta dentro del div header */
    top: 310px;
    right: 310px;
    font-size: 1.2em;
    color: #5c5656;
}
