body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Fondo gris claro */
    color: #333; /* Color de texto oscuro */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    background-color: #fff; /* Fondo blanco para el contenido */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center; /* Centrar contenido */
    width: 80%;
    max-width: 800px;
}

.header img {
    display: block;
    margin: 0 auto 20px auto; /* Centrar la imagen y añadir margen inferior */
    width: 150px;
    height: auto;
}
.header2 img {
    display: block;
    margin: 0 auto 20px auto; /*  imagen  */
    width: 450px;
    height: auto;
}

h1{
    color: #007bff; /* Color azul para el título principal */
    font-size: 2.5rem;
    margin-bottom: 10px;
    padding-top: 200px;
}

p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.6;
}

.software-info {
    text-align: left; /* Alinear texto a la izquierda */
    margin-top: 20px;
}

.software-info h2 {
    color: #007bff; /* Color azul para los títulos */
    font-size: 2rem;
    margin-bottom: 15px;
}

.software-info p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.software-info ul {
    list-style-type: disc; /* Puntos de lista con viñetas */
    margin-left: 20px;
    font-size: 1rem;
}

.software-info ul li {
    margin-bottom: 10px;
}

button {
    background-color: #007bff; /* Fondo azul */
    border: none;
    color: white; /* Texto blanco */
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3; /* Fondo azul oscuro al pasar el ratón */
    transform: scale(1.05); /* Aumentar tamaño al pasar el ratón */
}




    


